services:
  minecraft:
    image: itzg/minecraft-server
    container_name: minecraft
    ports:
      - "${PORT}:25565"
      - "${RCON_PORT}:25575"
    env_file:
      - .env
    networks:
      - https
    volumes:
      - "./data:/data"

networks:
  https:
    name: ${HTTPS_NETWORK}
    external: true
