services:
  minecraft:
    image: itzg/minecraft-server
    container_name: minecraft
    ports:
      - "${PORT}:25565"
    environment:
      EULA: "TRUE"
      MEMORY: ${MEMORY}
      TZ: ${TZ}
      VERSION: ${VERSION}
      SERVER_NAME: ${SERVER_NAME}
      ONLINE_MODE: ${ONLINE_MODE}
      OVERRIDE_SERVER_PROPERTIES: "TRUE"
      OPS: ${OPS}
      MOTD: ${MOTD}
    networks:
      - https
    volumes:
      - "./data:/data"

networks:
  https:
    external:
      name: ${HTTPS_NETWORK}
